# besoin d'un .env et d'un .env.android pour capacitor

# .env
# pour environnement de développement
VITE_API_URL_LOCAL=YOUR_API_URL
VITE_IS_ANDROID=false
# pour environnement de production
VITE_API_URL_PROD=YOUR_API_URL
# pour environnement de staging
VITE_API_STAGING=YOUR_API_STAGING_URL


# .env.android
VITE_IS_ANDROID=true
# API backend vue depuis Android (adress IP + port)
VITE_API_URL_LAN=YOUR_API_URL
# nécessaire pour le hot reload de capacitor : ip à modifier (ipconfig) + port
VITE_FRONTEND_URL_LAN=YOUR_FRONTEND_URL_LAN