:root {
    --primary-color: #000000;
    --primary-color-text: #ffffff;
    --surface-ground: #1e293b; /* slate-800 */
    --surface-card: #334155; /* slate-700 */
    --text-color: #e2e8f0; /* slate-200 */
}